body {
    font-family:"Trebuchet MS", 'Helvetica', 'sans-serif';
    font-size: 10pt;
    margin: 0px auto;
    width: 70%;
}
p.notify {
    padding: 40px 0px 40px 20px;
}
hr {
    border-top: 1px solid #8c8b8b;
}
a.head-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
a.head-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}
div.head {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #2A5DB0;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}
h1 {
    font-size: 14pt;
}
p {
    font-size: 12pt;
    line-height: 12pt;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}