nav ul, footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    text-align: right;
}
nav ul li, footer ul li {
    display: inline;
}
footer li:not(:first-child):before {
    content: " | ";
}
.notbold{
    font-weight:normal
}​