<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <div class="head">
            <a href="index.html" class="head-link">WPHW</a>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="reading-list">Reading List</a></li>
            </ul>
        </nav>
        <hr>
        <div class="container">

                {{ content }}
                
        </div>
        <footer>
            <ul>
                <li><a href="http://www.bartleby.com/91/119.html">"But [w]ar is [p]ain, and [h]ate is [w]oe." </a></li>
                <li><a href="https://github.com/wphw">github.com/wphw</a></li>
            </ul>
        </footer>
    </body>
</html>